/**
 * Vars
 */

// Relative to stylesheet URL
$fa-font-path: '../fonts';

// http://brandcolors.net
$color-github:  #4183c4;  // unverified
$color-twitter: #55acee;  // verified

$sf-font-weight: 300;
$sf-body-max-width: none;

$sf-rem: 12pt;

// cornsilk
// floralwhite
// ivory
// lemonchiffon
// lightgoldenrodyellow
// lightyellow
// mintcream
$color-code-bg: floralwhite;

/**
 * Code Theme
 */

// Dark

// @import './node_modules/highlight.js/styles/agate';
// @import './node_modules/highlight.js/styles/ir-black';
// @import './node_modules/highlight.js/styles/monokai-sublime';
// @import './node_modules/highlight.js/styles/obsidian';

// Light

// @import './node_modules/highlight.js/styles/arduino-light';
@import './node_modules/highlight.js/styles/tomorrow';
// @import './node_modules/highlight.js/styles/solarized-light';
// @import './node_modules/highlight.js/styles/github';
// @import './node_modules/highlight.js/styles/idea';

/**
 * Libs
 */

@import './node_modules/stylific-lite/scss/_variables';
@import './node_modules/stylific-lite/scss/norm';

/**
 * Icons
 */

@import './node_modules/font-awesome/scss/variables';
@import './node_modules/font-awesome/scss/path';
@import './node_modules/font-awesome/scss/core';
@import './node_modules/font-awesome/scss/mixins';

.fa-arrow-up::before      {content: $fa-var-arrow-up}
.fa-code::before          {content: $fa-var-code}
.fa-github::before        {content: $fa-var-github}
.fa-link::before          {content: $fa-var-link}
.fa-external-link::before {content: $fa-var-external-link}
.fa-twitter::before       {content: $fa-var-twitter}

.fa-github, a.fa-github   {color: $color-github}
.fa-twitter, a.fa-twitter {color: $color-twitter}

.fa::before {
  display: inline-block;
  width: 1em;
  text-align: center;
}

.fa.inline {
  margin-right: 0.5rem;
  &:last-child {margin-right: 0}
}

// wtf
:not(:empty) .fa.inline:not(:first-child) {
  margin-left: 0.5rem;
}

a.fa {
  border: none;
}

article a[target~=_blank]:not(.fa)::after {
  // Icon.
  content: $fa-var-external-link;
  @include fa-icon();

  // Cosmetic.
  margin-left: 0.3em;
  opacity: 0.5;
  font-size: 0.8em;
}

/**
 * Layout
 */

%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-col {
  display: flex;
  flex-direction: column;
}

%flex-main-between {
  justify-content: space-between;
}

%flex-main-start {
  justify-content: flex-start;
}

%flex-cross-stretch {
  align-items: stretch;
}

.row-between-normal {
  @extend %flex-row;
  @extend %flex-main-between;
}

.row-start-stretch {
  @extend %flex-row;
  @extend %flex-main-start;
  @extend %flex-cross-stretch;
}

.col-start-stretch {
  @extend %flex-col;
  @extend %flex-main-start;
  @extend %flex-cross-stretch;
}

.flex-1 {flex: 1}
.flex-2 {flex: 2}
.flex-3 {flex: 3}
.flex-4 {flex: 4}

.padding-1 {
  padding: 1rem;
}

/**
 * Misc
 */

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Open Sans, sans-serif;
}

body {
  padding: 0;
}

body, .layout {
  margin: 0;
}

body > :not(.layout) {
  display: none;
}

.fixed-fit {
  position: fixed;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.no-scroll-x {
  overflow-x: hidden;
}

code, .hljs {
  background-color: $color-code-bg;
}

.sidenav-list {
  @extend .col-start-stretch;
}

.sidenav-list .sidenav-list {
  margin-left: 0.5rem;
}

.sidenav-link {
  @extend .row-between-normal;
  line-height: 1.6em;
  > * {
    border-bottom: 1px dotted;
  }
  &:hover > *, &:focus > * {
    border-bottom: 1px solid;
  }
  &.active::after, &:hover::after {
    content: '→';
  }
}

.opacity-40 {
  opacity: 0.4;
}

a.heading-anchor {
  @extend .fg-gray;
  @extend .font-smaller;
  margin-left: 0.2em;
}

.fg-gray {
  color: gray;
}

.font-smaller {
  font-size: 0.8rem;
}

.text-italic {
  font-style: italic;
}
