{
  "plugins": [
    ["@babel/plugin-check-constants",                  {"loose": true}],
    ["@babel/plugin-transform-block-scoped-functions", {"loose": true}],
    ["@babel/plugin-transform-block-scoping",          {"loose": true}],
    ["@babel/plugin-transform-destructuring",          {"loose": true}],
    ["@babel/plugin-transform-function-name",          {"loose": true}],
    ["@babel/plugin-transform-literals",               {"loose": true}],
    ["@babel/plugin-transform-shorthand-properties",   {"loose": true}],
    ["@babel/plugin-transform-template-literals",      {"loose": true}]
  ]
}
